<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Chestionare360 - Autentificare | Contul tău</title>
    <meta name="description" content="Autentifică-te în contul tău Chestionare360 pentru a accesa chestionare auto, progresul tău de învățare și funcționalități suplimentare.">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/screenshots/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/screenshots/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/screenshots/favicon-16x16.png">
    <link rel="manifest" href="/screenshots/site.webmanifest">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <link rel="stylesheet" href="/css/login.css">
    <script src="/javascript/login.js" defer></script>

    <meta property="og:title" content="Chestionare360 - Autentificare">
    <meta property="og:description" content="Autentifică-te în contul tău Chestionare360 pentru a accesa chestionare auto, progresul tău de învățare și funcționalități suplimentare.">
    <meta property="og:url" content="https://www.chestionareauto360.space/login">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.chestionareauto360.space/screenshots/preview.png">
</head>

<body>
<div class="login-container">
    <h1>Autentificare elevi</h1>

    <div class="info-message">
        Dacă nu există contul, acesta va fi creat automat.<br>
        Continuarea navigării pe site reprezintă acordul dumneavoastră cu privire la prelucrarea datelor cu caracter personal.
    </div>

    <div th:if="${error}" th:text="${error}" class="error-message"></div>

    <form th:action="@{/login}" th:object="${userCreateDto}" method="post">
        <label for="phoneNumber">Număr de telefon:</label>
        <input type="tel" th:field="*{phoneNumber}" id="phoneNumber" pattern="[0-9]{10}" required placeholder="07........">
        <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error-message"></div>

        <label for="password">Parolă:</label>
        <div class="password-wrapper">
            <input type="password" id="password" name="password" placeholder="Parola ta" required>
            <span class="eye-icon" onclick="togglePasswordVisibility()">
                <i id="eyeIcon" class="fa-solid fa-eye-slash"></i>
            </span>
        </div>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></div>
<br>
        <div class="checkbox-container">
            <input type="checkbox" id="terms" required>
            <label for="terms">
                Accept
                <a href="/terms" target="_blank" rel="noopener noreferrer">termenii și condițiile</a>
            </label>
        </div>

        <button type="submit">Autentifică-te</button>
    </form>

    <a class="forgot-link" href="/forgotPassword">Ai uitat parola?</a>
</div>
</body>
</html>
